* {
    font-family: 'Roboto', sans-serif;
}

/* header */

header {
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

#header {
    width: 72%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header > a {
    font-size: 4.5rem;
    font-weight: 400;
    text-decoration: none;
    color: #0063DC;
    padding: 1.125rem 0;
}

#header > ul {
    display: flex;
}

#header > ul li a{
    font-size: 2.25rem;
    font-weight: 400;
    color: #c4c4c4;
    text-decoration: none;
}

#header > ul > li:last-child {
    margin-left: 3rem;
}

#header > ul > li:first-child a {
    color: #0063DC;
}

/* content */

#content {
    margin:0 auto;
    width: 72%;
    display: flex;
    justify-content: left;
    text-align: center;
    flex-wrap: wrap;
}

#content div {
    margin-top: 3.375rem;
    margin-left: 3.375rem;
    cursor: pointer;
}

#content div img {
    width: 18.75rem;
}

#content div p {
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
}

#content div p:nth-child(2) {
    margin-top: 1em;
}

@media screen and (max-width: 768px) {
    #header {
        width: 83%;
    }

    #header > a {
        font-size: 3rem;
        padding: 2rem 0;
    }

    #header > ul li a{
        font-size: 1.5rem;
    }

    #content {
        width: 90%;
    }
    
    #content div {
        margin-top: 3.375rem;
        margin-left: 1.6rem;
    }
    
    #content div img {
        width: 18.75rem;
    }
    
    #content div p {
        line-height: 1.25rem;
        font-size: 0.85rem;
        font-weight: 400;
    }
}

@media screen and (max-width: 480px) {
    #header > a {
        font-size: 2.25rem;
        padding: 2.5rem 0;
    }

    #header > ul li a {
        display: inline-block;
        text-indent: -9999px;
    }

    #header > ul > li:first-child a {
        width: 40px;
        height: 40px;
        background-image: url(../img/favoritepage.png);
        background-size: cover;
    }

    #header > ul > li:last-child a {
        width: 40px;
        height: 40px;
        background-image: url(../img/like.png);
        background-size: cover;
    } 

    #content {
        width: 93%;
    }
    
    #content div {
        margin-top: 2em;
        margin-left: 1.5rem;
    }
    
    #content div img {
        width: 9.375rem;
    }
    
    #content div p {
        line-height: 1.25rem;
        font-size: 0.7rem;
        font-weight: 400;
    }
}  