/* COMMON */
.body__container {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
}

/* SECTION & CONTAINER */
.section {
    position: relative;
}

.container {
    position: relative;
    width: 72%;
    margin: 0 auto;
    display: flex;
}

/* TAG INITAILIZE */
a {
    color: #000;
    text-decoration: none;
}

/* BUTTON */
.btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* INPUT */
.input--text {
    background: none;
    border: none;
    font-family: 'Noto Sans KR', sans-serif;
}

.input--text:focus {
    outline: none;
}

/* AUTOFILL */
.input--text:-webkit-autofill,
.input--text:-webkit-autofill:hover,
.input--text:-webkit-autofill:focus,
.input--text:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important;
}

/* VENDOR PREFIX */
.input--text::-webkit-input-placeholder {
    color: #c4c4c4;
}

.input--text::-ms-input-placeholder {
    color: #c4c4c4;
}

.input--text::-moz-input-placeholder {
    color: #c4c4c4;
}

/* HEADER */
header.section {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header.section .container {
    height: 120px;
    align-items: center;
    justify-content: space-between;
}

header.section .logo a {
    font-size: 4.5rem;
    color: #0063DC;
}

header.section .menu--tab {
    display: flex;
}

header.section .menu--tab .tab__main {
    font-size: 2.25rem;
}

header.section .menu--tab .tab__main:first-child {
    margin-right: 3rem;
}

header.section .menu--tab .tab__main a {
    color: #c4c4c4;
}

/* SEARCH */
.section__search,
.section__search .search__wrap,
#search--form,
.section__search .weather,
.section__search .address {
    display: flex;
}

.section__search {
    justify-content: center;
    margin: 70px 0;
}

.section__search .search__wrap,
#search--form,
.section__search .weather {
    align-items: center;
}

.section__search .search__wrap {
    flex-wrap: wrap;
    justify-content: center;
}

#search--form {
    padding: 20px 15px;
    border: 1px solid #c4c4c4;
    border-radius: 40px;
    margin-right: 30px;
}

.section__search .btn--search img {
    width: 46px;
}

#input--search {
    flex: 1;
    font-size: 24px;
    text-align: right;
}

.section__search .weather .weather__temp {
    font-size: 48px;
    color: #0063DC;
    margin-right: 30px;
}

.section__search .address {
    width: 70%;
    margin-top: 20px;
    color: #0063DC;
}

.section__search .address .current-address {
    word-break:keep-all;
}

.section__search .address .btn--gps {
    margin-top: 3px;
    margin-left: 5px;
}

/* INFO */
.section__info .container {
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.section__info .info__cafe {
    padding: 1rem;
}

.section__info .info__cafe .cafe__image {
    width: 300px;
}

.section__info .info__cafe .cafe__summary {
    text-align: center;
    line-height: 1.25;
    font-size: 14px;
}

.section__info .info__cafe .cafe__summary .cafe__title {
    line-height: 2;
}

@media (max-width: 1380px) {
    .container {
        width: 90%;
    }
}
