/* HEADER */
header.section .logo a {
    font-size: 2.8rem;
}

header.section .menu--tab .tab__main {
    font-size: 1.2rem;
}

header.section .menu--tab .tab__main:first-child {
    margin-right: 2rem;
}

/* SEARCH */
.section__search {
    margin: 30px 0;
}

.section__search .search__wrap {
    width: 90%;
}

#search--form {
    padding: 15px 10px;
}

.section__search .btn--search img {
    width: 36px;
}

#input--search {
    font-size: 18px;
}

.section__search .weather .weather__temp {
    font-size: 36px;
}

.section__search .weather .weather__icon {
    width: 80px;
}

@media (max-width: 768px) {
    /* INFO */
    .section__info .container {
        justify-content: center;
    }

    .section__info .info__cafe {
        padding: 1rem 0;
    }
}

@media (max-width: 528px) {
    /* SEARCH */
    .section__search {
        margin: 20px 0;
    }
    
    .section__search .search__wrap {
        display: block;
    }
    
    #search--form {
        margin-right: 0;
        margin-bottom: 15px;
        padding: 10px;
    }
    
    .section__search .btn--search img {
        width: 24px;
    }
    
    #input--search {
        font-size: 16px;
    }
    
    .section__search .weather .weather__temp {
        font-size: 24px;
        margin-right: 20px;
    }
    
    .section__search .weather .weather__icon {
        width: 60px;
    }

    .section__search .address {
        margin-top: 10px;
    }
}
