/* HEADER */
header.section .logo a {
    font-size: 3rem;
}

header.section .menu--tab .tab__main {
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

/* SEARCH */
.section__search {
    margin-top: 30px;
}

.section__search .search__wrap {
    width: 90%;
}

#search--form {
    padding: 15px 10px;
}

.section__search .btn--search img {
    width: 36px;
}

#input--search {
    font-size: 18px;
}

.section__search .weather .weather__temp {
    font-size: 36px;
}

.section__search .weather .weather__icon {
    width: 80px;
}

/* INFO */
.section__info .info__cafe {
    margin-top: 3.375rem;
    margin-left: 1.6rem;
}

.section__info .info__cafe .cafe__summary {
    line-height: 1.25;
    font-size: .85rem;
}

@media (max-width: 528px) {
    /* HEADER */
    header.section .menu--tab .tab__main {
        margin-right: 1rem;
    }

    /* SEARCH */
    .section__search {
        margin-top: 20px;
    }
    
    .section__search .search__wrap {
        display: block;
    }
    
    #search--form {
        margin-right: 0;
        margin-bottom: 15px;
        padding: 10px;
    }
    
    .section__search .btn--search img {
        width: 24px;
    }
    
    #input--search {
        font-size: 16px;
    }
    
    .section__search .weather .weather__temp {
        font-size: 24px;
        margin-right: 20px;
    }
    
    .section__search .weather .weather__icon {
        width: 60px;
    }

    .section__search .address {
        margin-top: 10px;
    }
}
