<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caffeine</title>

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!-- RESET STYLE -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <!-- STYLESHEET -->
    <link rel="stylesheet" href="../static/css/main/main.css">
    <link rel="stylesheet" href="../static/css/main/main-medium.css" media="(max-width: 768px)">
    <link rel="stylesheet" href="../static/css/main/main-small.css" media="(max-width: 430px)">

    <!-- CLASSLIST -->
    <link rel="stylesheet" href="../static/css/main/classlist.css">
</head>
<body>
<div class="body__container">

    <!-- HEADER -->
    <header class="section">
        <div class="container">

            <h1 class="logo">
                <a href="/">Caffeine</a>
            </h1>

            <ul class="menu--tab">
                <li class="tab__main">
                    <a href="favorite.html">즐겨찾기</a>
                </li>
                <li class="tab__main">
                    <a href="like.html">좋아요</a>
                </li>
            </ul>

        </div>
    </header>

    <!-- SEARCH -->
    <article class="section section__search">
        <div class="search__wrap">

            <form action="info.html" class="form--search" id="search--form" method="GET">
                <button type="submit" class="btn btn--search">
                    <img src="../static/img/search.png" alt="search">
                </button>
                <input type="text" name="search" id="input--search" class="input--text" placeholder="검색하기...">
            </form>

            <div class="weather">
                <p class="weather__temp">24 °C</p>
                <img src="../static/img/weather.png" alt="weather" class="weather__icon">
            </div>

        </div>
    </article>

    <!-- INFO -->
    <section class="section section__info">
        <div class="container">

            <div class="info__cafe">
                <a href="#" class="cafe__link">
                    <img src="../static/img/cafe.png" alt="cafe" class="cafe__image">
    
                    <dl class="cafe__summary">
                        <dt class="cafe__title">
                            빈플루
                        </dt>
    
                        <dd class="cafe__detail">
                            <p class="cafe__address">
                                서울특별시 서대문구 북가좌동 278-9
                            </p>
    
                            <p class="cafe__open">
                                <strong>
                                    영업시간 :
                                </strong>
                                08:30 ~ 22:30
                            </p>
                        </dd>
                    </dl>
                </a>
            </div>

            <div class="info__cafe">
                <a href="#" class="cafe__link">
                    <img src="../static/img/cafe.png" alt="cafe" class="cafe__image">
    
                    <dl class="cafe__summary">
                        <dt class="cafe__title">
                            빈플루
                        </dt>
    
                        <dd class="cafe__detail">
                            <p class="cafe__address">
                                서울특별시 서대문구 북가좌동 278-9
                            </p>
    
                            <p class="cafe__open">
                                <strong>
                                    영업시간 :
                                </strong>
                                08:30 ~ 22:30
                            </p>
                        </dd>
                    </dl>
                </a>
            </div>

            <div class="info__cafe">
                <a href="#" class="cafe__link">
                    <img src="../static/img/cafe.png" alt="cafe" class="cafe__image">
    
                    <dl class="cafe__summary">
                        <dt class="cafe__title">
                            빈플루
                        </dt>
    
                        <dd class="cafe__detail">
                            <p class="cafe__address">
                                서울특별시 서대문구 북가좌동 278-9
                            </p>
    
                            <p class="cafe__open">
                                <strong>
                                    영업시간 :
                                </strong>
                                08:30 ~ 22:30
                            </p>
                        </dd>
                    </dl>
                </a>
            </div>

            <div class="info__cafe">
                <a href="#" class="cafe__link">
                    <img src="../static/img/cafe.png" alt="cafe" class="cafe__image">
    
                    <dl class="cafe__summary">
                        <dt class="cafe__title">
                            빈플루
                        </dt>
    
                        <dd class="cafe__detail">
                            <p class="cafe__address">
                                서울특별시 서대문구 북가좌동 278-9
                            </p>
    
                            <p class="cafe__open">
                                <strong>
                                    영업시간 :
                                </strong>
                                08:30 ~ 22:30
                            </p>
                        </dd>
                    </dl>
                </a>
            </div>

            <div class="info__cafe">
                <a href="#" class="cafe__link">
                    <img src="../static/img/cafe.png" alt="cafe" class="cafe__image">
    
                    <dl class="cafe__summary">
                        <dt class="cafe__title">
                            빈플루
                        </dt>
    
                        <dd class="cafe__detail">
                            <p class="cafe__address">
                                서울특별시 서대문구 북가좌동 278-9
                            </p>
    
                            <p class="cafe__open">
                                <strong>
                                    영업시간 :
                                </strong>
                                08:30 ~ 22:30
                            </p>
                        </dd>
                    </dl>
                </a>
            </div>

            <div class="info__cafe">
                <a href="#" class="cafe__link">
                    <img src="../static/img/cafe.png" alt="cafe" class="cafe__image">
    
                    <dl class="cafe__summary">
                        <dt class="cafe__title">
                            빈플루
                        </dt>
    
                        <dd class="cafe__detail">
                            <p class="cafe__address">
                                서울특별시 서대문구 북가좌동 278-9
                            </p>
    
                            <p class="cafe__open">
                                <strong>
                                    영업시간 :
                                </strong>
                                08:30 ~ 22:30
                            </p>
                        </dd>
                    </dl>
                </a>
            </div>

            <div class="info__cafe">
                <a href="#" class="cafe__link">
                    <img src="../static/img/cafe.png" alt="cafe" class="cafe__image">
    
                    <dl class="cafe__summary">
                        <dt class="cafe__title">
                            빈플루
                        </dt>
    
                        <dd class="cafe__detail">
                            <p class="cafe__address">
                                서울특별시 서대문구 북가좌동 278-9
                            </p>
    
                            <p class="cafe__open">
                                <strong>
                                    영업시간 :
                                </strong>
                                08:30 ~ 22:30
                            </p>
                        </dd>
                    </dl>
                </a>
            </div>

            <div class="info__cafe">
                <a href="#" class="cafe__link">
                    <img src="../static/img/cafe.png" alt="cafe" class="cafe__image">
    
                    <dl class="cafe__summary">
                        <dt class="cafe__title">
                            빈플루
                        </dt>
    
                        <dd class="cafe__detail">
                            <p class="cafe__address">
                                서울특별시 서대문구 북가좌동 278-9
                            </p>
    
                            <p class="cafe__open">
                                <strong>
                                    영업시간 :
                                </strong>
                                08:30 ~ 22:30
                            </p>
                        </dd>
                    </dl>
                </a>
            </div>

        </div>
    </section>

</div>
</body>
</html>