<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>즐겨찾기</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <header>
        <div id="header">
            <a href="#">Caffeine</a>
            <ul>
                <li><a href="index.html">즐겨찾기</a></li>
                <li><a href="favorite.html">좋아요</a></li>
            </ul>
        </div>
    </header>
    <section id="content">
        <div id="contents-info">
            <img src="/static/img/p.jpg" alt="cafe">
            <p>빈플루</p>
            <p>서울특별시 서대문구 북가좌동 278-9</p>
            <p>영업시간 : 08:30 ~ 22:30</p>
        </div>
        <div>
            <img src="/static/img/p.jpg" alt="cafe">
            <p>빈플루</p>
            <p>서울특별시 서대문구 북가좌동 278-9</p>
            <p>영업시간 : 08:30 ~ 22:30</p>
        </div>
        <div>
            <img src="/static/img/p.jpg" alt="cafe">
            <p>빈플루</p>
            <p>서울특별시 서대문구 북가좌동 278-9</p>
            <p>영업시간 : 08:30 ~ 22:30</p>
        </div>
        <div>
            <img src="/static/img/p.jpg" alt="cafe">
            <p>빈플루</p>
            <p>서울특별시 서대문구 북가좌동 278-9</p>
            <p>영업시간 : 08:30 ~ 22:30</p>
        </div>
        <div>
            <img src="/static/img/p.jpg" alt="cafe">
            <p>빈플루</p>
            <p>서울특별시 서대문구 북가좌동 278-9</p>
            <p>영업시간 : 08:30 ~ 22:30</p>
        </div>
        <div>
            <img src="/static/img/p.jpg" alt="cafe">
            <p>빈플루</p>
            <p>서울특별시 서대문구 북가좌동 278-9</p>
            <p>영업시간 : 08:30 ~ 22:30</p>
        </div>
        <div>
            <img src="/static/img/p.jpg" alt="cafe">
            <p>빈플루</p>
            <p>서울특별시 서대문구 북가좌동 278-9</p>
            <p>영업시간 : 08:30 ~ 22:30</p>
        </div>
        <div>
            <img src="/static/img/p.jpg" alt="cafe">
            <p>빈플루</p>
            <p>서울특별시 서대문구 북가좌동 278-9</p>
            <p>영업시간 : 08:30 ~ 22:30</p>
        </div>
        <div>
            <img src="/static/img/p.jpg" alt="cafe">
            <p>빈플루</p>
            <p>서울특별시 서대문구 북가좌동 278-9</p>
            <p>영업시간 : 08:30 ~ 22:30</p>
        </div>
        <div>
            <img src="/static/img/p.jpg" alt="cafe">
            <p>빈플루</p>
            <p>서울특별시 서대문구 북가좌동 278-9</p>
            <p>영업시간 : 08:30 ~ 22:30</p>
        </div>
        <div>
            <img src="/static/img/p.jpg" alt="cafe">
            <p>빈플루</p>
            <p>서울특별시 서대문구 북가좌동 278-9</p>
            <p>영업시간 : 08:30 ~ 22:30</p>
        </div>
    </section>
    <script>
        document.getElementById("contents-info").addEventListener("click", function() {
            location.href = "info.html";
        });
    </script>
</body>
</html>