<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카페정보</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/info.css">
</head>
<body>
    <header>
        <div id="header">
            <a href="index.html">Caffeine</a>
            <ul>
                <li><a href="favorite.html">즐겨찾기</a></li>
                <li><a href="like.html">좋아요</a></li>
            </ul>
        </div>
    </header>
    <div id="container">
        <div class="content">
            <img src="../static/img/p.jpg" alt="cafe">
            <p>빈플루</p>
        </div>
        <div class="content-info">
            <ul>
                <li>카페명 : 빈플루</li>
                <li>위치 : 서울특별시 서대문구 북가좌동 278-9</li>
                <li>영업시간 : 08:30 ~ 22:30</li>
            </ul>
            <div class="content-menu">
                <strong>&lt; 메뉴 &gt;</strong>
                <ul>
                    <li>아메리카노 4,000원</li>
                    <li>브루잉커피 6,000원</li>
                    <li>크로와상 3,000원</li>
                    <li>카페라떼 4,500원</li>
                    <li>팔미까레 3,200원</li>
                    <li>에스프레소 4,000원</li>
                    <li>바닐라라떼 5,500원</li>
                    <li>팔미까레 3,200원</li>
                    <li>에스프레소 4,000원</li>
                    <li>바닐라라떼 5,500원</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="faovorite-btn">
        <button>즐겨찾기</button>
        <button>좋아요</button>
    </div>
</body>
</html>